
body {
    background-color: #005f73;
}

.row {
    display: flex;                
    flex-direction: row;
    justify-content: center;      
    align-items: center;          
    gap: 50px;
}

.col {
    color: #e9d8a6;
    display: flex;                
    flex-direction: column;
    justify-content: left;      
    align-items: flex-start;                
    row-gap: 30px;
}

.multiline {
    white-space: pre-wrap;
}

.controls {
    background-color: #9b2226;
    padding: 10px;
}

a {
    color: #ee9b00;
}