
body {
    background-color: coral;
}

.row {
    display: flex;                
    flex-direction: row;
    justify-content: center;      
    align-items: center;          
    gap: 50px;
}

.col {
    display: flex;                
    flex-direction: column;
    justify-content: left;      
    align-items: left;                
    row-gap: 30px;
}

.multiline {
  white-space: pre-wrap;
}